<?xml version="1.0"?>
<configuration>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>
    <add key="Builder" value="MSBuild4"/>
    <add key="TestRunner" value="MSpec,MSTest,NUnit"/>
    <add key="RunnerDisplay" value="File"/>
    <add key="MSpecConsole4" value ="C:\Users\duncan.butler\My Dropbox\Dropbox\nTestRunner\MSpec\mspec-clr4.exe" />
    <add key="MSpecConsole2" value ="C:\Users\duncan.butler\My Dropbox\Dropbox\nTestRunner\MSpec\mspec-x86.exe"/>
  </appSettings>
  
</configuration>

